<?xml version='1.0' encoding='utf-8'?>
<toolbox monitor="true" tool_path="/mnt/mountpoint/srv/galaxy/local_tools">
    <section id="PEGR" name="PEGR">
    <tool file="pegr-galaxy_tools/tools/bam_to_scidx_output_stats.xml" />
    <tool file="pegr-galaxy_tools/tools/bedtools_intersectbed_output_stats.xml" />
    <tool file="pegr-galaxy_tools/tools/bwa_mem_output_stats_single.xml" />
    <tool file="pegr-galaxy_tools/tools/chexmix_output_stats.xml" />
    <tool file="pegr-galaxy_tools/tools/cwpair2_output_stats.xml" />
    <tool file="pegr-galaxy_tools/tools/extract_genomic_dna_output_stats.xml" />
    <tool file="pegr-galaxy_tools/tools/extract_genomic_dna_output_stats2.xml" />
    <tool file="pegr-galaxy_tools/tools/extract_genomic_dna_output_stats3.xml" />
    <tool file="pegr-galaxy_tools/tools/fasta_nucleotide_color_plot_output_stats.xml" />
    <tool file="pegr-galaxy_tools/tools/fastqc_output_stats.xml" />
    <tool file="pegr-galaxy_tools/tools/fastqc_output_stats2.xml" />
    <tool file="pegr-galaxy_tools/tools/genetrack_output_stats.xml" />
    <tool file="pegr-galaxy_tools/tools/input_dataset_r1_output_stats.xml" />
    <tool file="pegr-galaxy_tools/tools/input_dataset_r2_output_stats.xml" />
    <tool file="pegr-galaxy_tools/tools/mark_duplicates_bam_output_stats.xml" />
    <tool file="pegr-galaxy_tools/tools/meme_fimo_output_stats.xml" />
    <tool file="pegr-galaxy_tools/tools/meme_meme_output_stats.xml" />
    <tool file="pegr-galaxy_tools/tools/pe_histogram_output_stats.xml" />
    <tool file="pegr-galaxy_tools/tools/repeatmasker_wrapper_output_stats.xml" />
    <tool file="pegr-galaxy_tools/tools/repeatmasker_wrapper_output_stats2.xml" />
    <tool file="pegr-galaxy_tools/tools/samtool_filter2_output_stats.xml" />
    <tool file="pegr-galaxy_tools/tools/tag_pileup_frequency_output_stats.xml" />
    <tool file="pegr-galaxy_tools/tools/galaxy_post_pegr.xml" />
  </section>

  <section id="ScriptManager" name="ScriptManager" >
    <tool file="scriptmanager-galaxy_tools/script_manager_heatmap.xml" />	  
    <tool file="scriptmanager-galaxy_tools/script_manager_tag_pileup.xml" />	  
    <tool file="scriptmanager-galaxy_tools/scriptmanager_heatmap_add_label.xml" />	  
    <tool file="scriptmanager-galaxy_tools/script_manager_4color.xml" />	  
  </section>
  <section id="ChIP-general" name="ChIP-general" >
    <tool file="ChIP_general-galaxy_tools/motif_logo_memexml_to_pngs.xml" />	  
    <tool file="ChIP_general-galaxy_tools/fimo_txt_2_gffs.xml" />	  
  </section>

</toolbox>
